@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        h3 {
            color: #9747FF;
        }

        img {
            width: 100px;
            height: 100px;
        }

        a  {
        text-decoration: none;
        color: inherit;
        outline: 0;
        }
    </style>
</head>

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Choose the tool you want to use for observing video game sales data.</p>
</div>

<a class="box" asp-area="" asp-controller="Table" asp-action="Index">
    <h3>Table View</h3>
    <p>Search, filter, and read video game sales data with a table, including important details related to each game.</p>
    <img src='@Url.Content("~/images/table.png")' alt="Table logo">
</a>
<a class="box" asp-area="" asp-controller="Graphic" asp-action="Index">
    <h3>Graphic View</h3>
    <p>Filter, sort, and view game sales data with custom made data visualizations like charts, plots, or graphs.</p>
    <img src='@Url.Content("~/images/graph.png")' alt="Graphic logo">
</a>
